## Import Libraries

In [41]:
import pandas as pd
import numpy as np
import scipy.stats as stats

## Creating DataFrame

In [34]:
df = pd.DataFrame({"Transaction_Amount":[100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65]})

In [36]:
df

    Transaction_Amount
0                  100
1                  150
2                   50
3                  100
4                  130
5                  120
6                  100
7                   85
8                   70
9                  150
10                 150
11                 120
12                  50
13                 100
14                 100
15                 140
16                  90
17                 150
18                  50
19                  90
20                 120
21                 100
22                 110
23                  75
24                  65

## Measures of Central Tendency

In [31]:
# Measures of Central Tendency (Mean, Median, Mode)

150